body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.flex-container .my-info {
    flex-direction: row;
}

.flex-container .skills-education {
    flex-direction: row;
}

.flex-container .code-example-experience {
    flex-direction: row;
}

.photo img {
    width: 250px;
    height: 250px;
}

.common-info {
    display: flex;
    flex-direction: column;
}

.contacts ul li {
    color: red;
    display: inline;
}

.skills ul li {
    color: brown;
}

.education ul li {
    color: blue;
}

.experience ul li {
    color: chocolate;
}

.code-example ul li {
    color: blueviolet;
}

footer .flex-container .footer {
    flex-direction: row;
}