body {
    margin: 0;
    padding: 0;
}

.my-info {
    display: flex;
    flex-direction: row;
}

.photo img {
    width: 250px;
    height: 250px;
}

.common-info {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px 30px;
    background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
    margin-bottom: 5px;
}

ul li:last-child {
    border-bottom: none;
}